<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548516032805-95t614ogh039d656jfsk1ttidlbhdmig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548516032805-95t614ogh039d656jfsk1ttidlbhdmig</string>
	<key>API_KEY</key>
	<string>AIzaSyDjy_O-PNNBIk0uKcCiBJtFsd1pLdwsnWs</string>
	<key>GCM_SENDER_ID</key>
	<string>548516032805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rakanLab12</string>
	<key>PROJECT_ID</key>
	<string>rakanlab12</string>
	<key>STORAGE_BUCKET</key>
	<string>rakanlab12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548516032805:ios:b2d8ce33e1265070886acc</string>
</dict>
</plist>